doctype html
html
  head
    title Recipe Box
    link(rel="stylesheet", type="text/css", href='/stylesheets/style.css')
  body
    div(id='header')
      div(id='logo')
        img(src='#', alt='Recipe Logo')
      div(id='nav')
        ul(id='pageNav')
          li 
            a(href='/') Home
          li 
            a(href='/profile') Profile
          li
            a(href='/recipes') Recipes
        ul(id='userNav')
          li
            a(href='/login') Login
          li
            a(href='/sign-up') Sign Up
    block content

   footer#navFoot
      p All Rights Reserved | 2020 | Vance Weston
      ul
         li
            a(href='/') Home
         li |
         li
            a(href='/profile') Profile
         li |
         li
            a(href='/recipes') Recipes
         li |
         li
            a(href='/login') Login
         li |
         li
            a(href='/sign-up') Sign Up