doctype html
html
  head
    title Recipe Box
    link(rel="stylesheet", type="text/css", href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    div(id='header')
      div(id='logo')
        img(src='#', alt='Recipe Logo')
      div(id='nav')
        ul(id='pageNav')
          li 
            a(href='/') Home
          li(id='profile')
            a(href='/profile' id='profileLink') Profile
          li
            a(href='/recipes') Recipes
        ul(id='userNav')
          li(id='name')
          li(id='logout')
            a(href='/logout') Logout
          li(id='login')
            a(href='/login') Login
          li(id='signup')
            a(href='/sign-up') Sign Up
    block content

   footer#navFoot
      p All Rights Reserved | 2020 | Vance Weston
      ul
         li
            a(href='/') Home |
         li(id='profileFooter')
            a(href='/profile') Profile |
         li
            a(href='/recipes') Recipes |
         li(id='loginFooter')
            a(href='/login') Login |
         li(id='signupFooter')
            a(href='/sign-up') Sign Up
         li(id='logoutFooter')
            a(href='/logout') Logout

script(src='javascripts/js.cookie.min.js')
script(src='javascripts/axios.min.js')
script(src='javascripts/layout.js')