html
  head
    title Recipe Box | Login
    link(rel='stylesheet', type='text/css', href='/stylesheets/login_style.css')
  body
    div(id='mainHolder')
      a(class='backImg' href='/')
        img(class='backImg' src='#' alt='Arrow')
      h1(id='loginHeader')='Login'
      form(id='loginForm')
        input(type='text' placeholder='Email' id='emailField' class='loginFormField' name='email' required)
        input(type='password' placeholder='Password' name='password' id='passwordField' class='loginFormField' required)
        input(type='submit' value='Login' id='loginFormSubmit')
      a(id='userSignUp' href='/sign-up')
        p='Not a User? Click Here to Sign Up!'

script(src='javascripts/js.cookie.min.js')
script(src='javascripts/axios.min.js')
script(type='text/javascript' src='javascripts/login.js')
