html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #3a3a3a;
}

#mainHolder {
    width: 50%;
    height: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
}

img.backImg {
    justify-self: left;
    align-self: start;
    padding: 15px;
    opacity: 60%;
}

.backImg {
    justify-self: left;
    align-self: start;
}

#loginErrorMsgHolder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

#loginErrorMsg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
}

#errorMsgSecondLine {
    display: block;
}

#loginForm {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}

.loginFormField::placeholder {
    color: #3a3a3a;
}

.loginFormField {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
}

#loginFormSubmit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
}

span#backArrow {
    margin: 10px;
    transform: scaleX(-1);
    font-size: 30px;
    color: grey;
}

span#backArrow:hover {
    color: rgb(170,7,11);
    transform: scaleX(-1);
    transform: scale(-1.2);
}

a#userSignUp {
    font-size: 75%;
    color: black;
}

a#userSignUp:hover {
    color: red;
    transform: scale(1.1);
}