/* STYLE FOR LAYOUT.jade */

body {
  margin: 0 5% 0 5%;
}

div#header {
  top: 0;
  position: fixed;
  width: 90%;
  background-color: white;
}

div#spacer {
  width: 100%;
  height: 130px;
}

div#logo {
  width: 40%;
  height: 100px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#logo span.material-icons {
    font-size: 60px;
    margin-right: 15px;  
    color: rgb(170,7,11);
}

div#logo h1 {
    font-size: 48px;
    text-transform: uppercase;
    color: rgb(109, 109, 109)
}

div#nav ul {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-content: center;
  padding: 0;
}

div#nav {
  display: flex;
  justify-content: space-between;
  margin-right: 5p;
  background-color: rgb(109, 109, 109);
  border-top: solid 2px black;
  height: 30px;
  align-items: center;
}

div#nav ul li {
  padding-right: 10px;
  padding-left: 10px;
  list-style: none;
  height: 25px;
  border-radius: 15px;
}

div#nav ul li a {
  text-decoration: none;
  color: white;
}

div#nav ul li:hover {
  background-color: darkgrey;
}

/* STYLE FOR FOOTER */

#navFoot li {
  list-style: none;
  margin: 0 5px;
}

footer#navFoot {
  border-top: grey solid;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

footer#navFoot p {
  color: grey;
  padding-left: 10px;
}

footer#navFoot ul {
  display: flex;
  padding-right: 10px;
}

#navFoot ul li {
  color: grey;
}

#navFoot ul li a {
  text-decoration: none;
  color: grey;
}

#navFoot ul li a:hover {
  color: black;
}

/* STYLE FOR INDEX.jade */
div#recipeFeed {
  margin: 35px auto 35px;
  width: 80%;
  height: 750px;
  overflow: scroll;
  border: 3px solid grey;
  border-radius: 5px;
  padding: 20px 20px 0;
}

div.recipeDivide {
  border-bottom: 3px solid grey;
  margin: 25px 0 25px;
}

.collapsible {
  margin-top: 2%;
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* STYLE FOR PROFILE.jade PAGE */
div#mainProfilePageDiv {
  display: grid;
  grid-template-columns: 250px 1fr 1fr 1fr;
  grid-template-rows: 150px 150px 150px 150px 150px;
}

div#recipeTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div#pageNavigator {
  grid-row-start: 1;
  grid-row-end: 6;
  background-color: whitesmoke;
  text-indent: 25px;
}

div#personalRecipeFeed {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 6;
}

div#personalRecipeTitles ul li {
  list-style: none;
  margin-bottom: 5px;
  list-style: circle inside;
}

div#profileRecipeSearchFeed {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 6;
  margin: 35px auto 35px;
  width: 60%;
  overflow: scroll;
  border: 3px solid grey;
  border-radius: 5px;
  padding: 20px 20px 0;
}

div#recipeCreation,
div#recipeEditor {
  display: none;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 6;
  margin: 35px auto 35px;
  width: 60%;
  box-shadow: 0 0 10px grey;
  border-radius: 30px;
}

div#recipeCreationBody,
div#recipeEditorBody {
  margin: 15px;
}

h1#recipeCreationHeader,
h1#recipeEditorHeader {
  text-align: center;
  text-transform: capitalize;
  border-bottom: 2px solid grey;
  padding-bottom: 5px;
}

form#recipeCreationForm,
form#recipeEditorForm {
  font-size: 115%;
  margin-left: 5%;
}

div#editRecipeSelection {
  display: none;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 6;
  width: 80%;
  height: 80%;
  justify-self: center;
  align-self: center;
  border: 3px solid;
  border-radius: 10px;
  padding: 15px
}

div#recipeList {
  font-size: 125%;
  margin: 15px auto 0;
  width: 80%;
}

li#recipeEditorListTitleValue:hover {
  color: grey;
}

input#recipeTitleField {
  width: 80%;
  height: 25px;
  padding: 5px;
  margin: 7px 7%;
}

textarea#recipeMainIngredientsField,
textarea#recipeSubIngredientsField,
textarea#recipeInstructionsField,
textarea#recipeNotesField {
  width: 80%;
  height: 50px;
  padding: 5px;
  margin: 7px 7%;
}

input#recipeCreationFormSubmit,
input#recipeEditorFormSubmit {
  margin: 7px 7%;
  width: 83%;
  height: 30px;
  border-radius: 15px;
}

input#recipeCreationFormSubmit:hover,
input#recipeEditorFormSubmit:hover {
    background-color: darkgrey;
}

input#recipePublicField {
  margin: 1% 7%;
}

button#profileLogoutButton {
  background-color: rgb(29, 28, 28);
  color: white;
}

button#profileLogoutButton:hover {
  background-color: grey;
}


button#recipeDelete {
  height: 25px;
}

li {
  margin: 5px;
  list-style: none;
}

ul {
  padding-inline-start: 0;
}

/* STYLE FOR RECIPES.jade PAGE */

div#mainRecipePageDiv {
  display: grid;
  grid-template-columns: 250px 1fr 1fr 1fr;
  grid-template-rows: 150px 150px 150px 150px 150px;
}

div#recipeSearch {
  grid-row-start: 1;
  grid-row-end: 6;
  background-color: whitesmoke;
  text-indent: 25px;
}

div#recipeSearchFeed {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 6;
  margin: 35px auto 35px;
  width: 60%;
  overflow: scroll;
  border: 3px solid grey;
  border-radius: 5px;
  padding: 20px 20px 0;
}

div#recipeSearch h2 {
  margin-bottom: 25px;
  border-bottom: 2px solid grey;
  padding-bottom: 10px;
  text-indent: 45px;
}

div#recipeSearch h4 {
  text-indent: 45px;
}

ul#recipeSearchOptions li {
  list-style: none;
  margin-bottom: 5px;
  color: grey;
}

ul#recipeSearchOptions li:hover {
    color: black;
}

div#recipesA_E, div#recipesF_J,
div#recipesK_O, div#recipesP_T,
div#recipesU_Z {
  display: none;
}

button.recipeButton {
  width: 175px;
  height: 30px;
  border-radius: 10px;
  background-color: ghostwhite;
}

button.recipeButton:hover {
  background-color: whitesmoke;
}

li#name {
  display: none
}

li#login {
  display: none
}

li#signup {
  display: none
}

li#loginFooter {
  display: none
}

li#signupFooter {
  display: none
}

li#logout {
  display: none
}

li#logoutFooter {
  display: none
}

li#profile {
  display: none
}

li#profileFooter {
  display: none
}
